In [4]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Fungsi untuk memisahkan training data dan testing data
from sklearn.model_selection import train_test_split

# Fungsi untuk memanggil model Machine Learning
from sklearn.linear_model import LinearRegression

# Fungsi untuk melakukan normalisasi dan standardisasi data
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Fungsi untuk menghitung evaluation metrics
from sklearn import metrics, datasets

## Assignment 3 - Machine Learning

Buat model Machine Learning (Linear Regression) untuk melakukan prediksi nilai "charges" dari dataset `insurance`. <br>

Deadline: **1 Oktober 2020 , 23:59**

In [156]:
insurance = pd.read_csv('http://bit.ly/dwp-data-insurance')

In [157]:
df_insurance = insurance

In [158]:
df_insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [159]:
# transform the data using Label Encoding
def convert_sex(row):
    if(row['sex'] == 'male'):
        return 1
    return 2
df_insurance['sex'] = df_insurance.apply(convert_sex,axis=1)

In [160]:
# transform the data using Label Encoding
def convert_smoker(row):
    if(row['smoker'] == 'yes'):
        return 1
    return 0
df_insurance['smoker'] = df_insurance.apply(convert_smoker,axis=1)

In [142]:
df_insurance['region'].unique()

array([4], dtype=int64)

In [161]:
# transform the data using Label Encoding
def convert_region(row):
    if(row['region'] == 'southwest'):
        return 1
    elif(row['region'] == 'southeast'):
        return 2
    elif(row['region'] == 'northwest'):
        return 3
    return 4
df_insurance['region'] = df_insurance.apply(convert_region,axis=1)

In [162]:
df_insurance.head()

   age  sex     bmi  children  smoker  region      charges
0   19    2  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

In [163]:
#define X/ feature / parameter dan y / label / target
x = df_insurance.drop(columns=['charges'])
y = df_insurance['charges']

In [52]:
x.head()

   age  sex     bmi  children  smoker  region
0   19    2  27.900         0       1       1
1   18    1  33.770         1       0       2
2   28    1  33.000         3       0       2
3   33    1  22.705         0       0       3
4   32    1  28.880         0       0       3

In [164]:
#Split the training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

### Without Scaler

In [165]:
#initiate the model
model = LinearRegression()

In [166]:
#training process
model.fit(x_train, y_train)

LinearRegression()

In [167]:
# Testing and evaluation process
y_pred = model.predict(x_test)
error = metrics.mean_absolute_error(y_test, y_pred)

print('MAE: {}'.format(error))
print('COEF_: {}'.format(model.coef_))
print('INTERCEPT_: {}'.format(model.intercept_))

MAE: 4139.313074268249
COEF_: [  252.15440619   281.16765835   316.514758     351.46251009
 24044.37169738   318.49464584]
INTERCEPT_: -12772.870337574697

In [81]:
result = pd.DataFrame({'age': list(x_test['age']),
                       'sex': list(x_test['sex']),
                       'bmi': list(x_test['bmi']),
                       'children': list(x_test['children']),
                       'smoker': list(x_test['smoker']),
                       'region': list(x_test['region']),
                       'Actual': list(y_test),
                       'Prediction': list(y_pred)})

result['error'] = abs(result['Prediction'] - result['Actual'])

result

,age,sex,bmi,children,smoker,region,Actual,Prediction,error
0,19,1,35.530,0,0,3,1646.42970,4312.086570,2665.656870
1,57,1,31.540,0,0,3,11353.22760,12859.497376,1506.269776
2,51,1,37.000,0,0,1,8798.59300,12370.503589,3571.910589
3,49,2,36.630,3,0,2,10381.47870,13549.551148,3168.072448
4,21,1,22.300,1,0,1,2103.08000,410.554902,1692.525098
...,...,...,...,...,...,...,...,...,...
263,39,1,35.300,2,1,1,40103.89000,33330.127561,6773.762439
264,44,2,38.950,0,1,3,42983.45850,35851.350344,7132.108156
265,47,1,38.940,2,1,2,44202.65360,36871.781092,7330.872508
266,19,2,36.575,0,0,3,2136.88225,4885.664416,2748.782166
267,35,2,26.125,0,0,4,5227.98875,6051.923035,823.934285

In [87]:
result['error'].mean()

4056.1183056626537

### With Scaler

In [168]:
# scale the data
scaler = StandardScaler()
x_train_scaler = scaler.fit_transform(x_train)
x_test_scaler = scaler.fit_transform(x_test)

In [169]:
#initiate the model
model = LinearRegression()

In [170]:
#training process
model.fit(x_train_scaler, y_train)

LinearRegression()

In [171]:
# Testing and evaluation process
y_pred = model.predict(x_test_scaler)
error = metrics.mean_absolute_error(y_test, y_pred)

print('MAE: {}'.format(error))

MAE: 4060.7930653486465

In [92]:
result = pd.DataFrame({'age': list(x_test['age']),
                       'sex': list(x_test['sex']),
                       'bmi': list(x_test['bmi']),
                       'children': list(x_test['children']),
                       'smoker': list(x_test['smoker']),
                       'region': list(x_test['region']),
                       'Actual': list(y_test),
                       'Prediction': list(y_pred)})

result['error'] = abs(result['Prediction'] - result['Actual'])

result

,age,sex,bmi,children,smoker,region,Actual,Prediction,error
0,19,1,35.530,0,0,3,1646.42970,4298.765946,2652.336246
1,57,1,31.540,0,0,3,11353.22760,12562.644662,1209.417062
2,51,1,37.000,0,0,1,8798.59300,12126.491006,3327.898006
3,49,2,36.630,3,0,2,10381.47870,13342.622088,2961.143388
4,21,1,22.300,1,0,1,2103.08000,267.218889,1835.861111
...,...,...,...,...,...,...,...,...,...
263,39,1,35.300,2,1,1,40103.89000,33342.738075,6761.151925
264,44,2,38.950,0,1,3,42983.45850,35874.220010,7109.238490
265,47,1,38.940,2,1,2,44202.65360,36869.922740,7332.730860
266,19,2,36.575,0,0,3,2136.88225,4879.827857,2742.945607
267,35,2,26.125,0,0,4,5227.98875,5877.268310,649.279560

### With One Hot Encoding

In [97]:
df_insurance = pd.get_dummies(df_insurance,columns=['sex'])

In [98]:
df_insurance = pd.get_dummies(df_insurance,columns=['smoker'])

In [99]:
df_insurance = pd.get_dummies(df_insurance,columns=['region'])

In [115]:
df_insurance.head()

,age,bmi,children,charges,sex_1,sex_2,smoker_0,smoker_1,region_1,region_2,region_3,region_4
0,19,27.900,0,16884.92400,0,1,0,1,1,0,0,0
1,18,33.770,1,1725.55230,1,0,1,0,0,1,0,0
2,28,33.000,3,4449.46200,1,0,1,0,0,1,0,0
3,33,22.705,0,21984.47061,1,0,1,0,0,0,1,0
4,32,28.880,0,3866.85520,1,0,1,0,0,0,1,0

In [116]:
#define X/ feature / parameter dan y / label / target
x = df_insurance.drop(columns=['charges'])
y = df_insurance['charges']

In [117]:
x.head()

,age,bmi,children,sex_1,sex_2,smoker_0,smoker_1,region_1,region_2,region_3,region_4
0,19,27.900,0,0,1,0,1,1,0,0,0
1,18,33.770,1,1,0,1,0,0,1,0,0
2,28,33.000,3,1,0,1,0,0,1,0,0
3,33,22.705,0,1,0,1,0,0,0,1,0
4,32,28.880,0,1,0,1,0,0,0,1,0

In [119]:
#Split the training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

### Without Scaler

In [120]:
#initiate the model
model = LinearRegression()

In [121]:
#training process
model.fit(x_train, y_train)

LinearRegression()

In [122]:
# Testing and evaluation process
y_pred = model.predict(x_test)
error = metrics.mean_absolute_error(y_test, y_pred)

print('MAE: {}'.format(error))
print('COEF_: {}'.format(model.coef_))
print('INTERCEPT_: {}'.format(model.intercept_))

MAE: 4051.858766747048
COEF_: [   257.49024669    321.62189278    408.06102001   -121.0765328
    121.0765328  -11893.24302268  11893.24302268   -318.65664503
   -453.99951691    188.27979919    584.37636275]
INTERCEPT_: -109.81988139965688

In [124]:
result = pd.DataFrame({'Actual': list(y_test),
                       'Prediction': list(y_pred)})

result['error'] = abs(result['Prediction'] - result['Actual'])

result

          Actual    Prediction        error
0     1646.42970   4383.680900  2737.251200
1    11353.22760  12885.038922  1531.811322
2     8798.59300  12589.216532  3790.623532
3    10381.47870  13286.229192  2904.750492
4     2103.08000    544.728328  1558.351672
..           ...           ...          ...
263  40103.89000  33555.184440  6548.705560
264  42983.45850  35949.523051  7033.935449
265  44202.65360  36650.467231  7552.186369
266   2136.88225   4961.928843  2825.046593
267   5227.98875   6116.920574   888.931824

[268 rows x 3 columns]

In [125]:
result['error'].mean()

4051.858766747048

### With Scaler

In [126]:
# scale the data
scaler = StandardScaler()
x_train_scaler = scaler.fit_transform(x_train)
x_test_scaler = scaler.fit_transform(x_test)

In [135]:
x_train_scaler

array([[ 1.00228629, -0.66474472, -0.90705771, ..., -0.59822071,
         1.76954066, -0.57087511],
       [ 1.00228629, -1.51402369, -0.07894188, ..., -0.59822071,
        -0.56511841, -0.57087511],
       [-1.50426607,  1.08117685, -0.90705771, ...,  1.67162383,
        -0.56511841, -0.57087511],
       ...,
       [ 0.85905473,  0.70063454,  0.74917395, ..., -0.59822071,
        -0.56511841,  1.75169662],
       [ 0.07128113, -1.38009893,  0.74917395, ...,  1.67162383,
        -0.56511841, -0.57087511],
       [ 1.28874942, -0.44589206, -0.07894188, ...,  1.67162383,
        -0.56511841, -0.57087511]])

In [128]:
#initiate the model
model = LinearRegression()

In [129]:
#training process
model.fit(x_train_scaler, y_train)

LinearRegression()

In [130]:
# Testing and evaluation process
y_pred = model.predict(x_test_scaler)
error = metrics.mean_absolute_error(y_test, y_pred)

print('MAE: {}'.format(error))

MAE: 1.317662113011196e+16

In [132]:
result = pd.DataFrame({'Actual': list(y_test),
                       'Prediction': list(y_pred)})

result['error'] = abs(result['Prediction'] - result['Actual'])

result

          Actual    Prediction         error
0     1646.42970  2.819604e+15  2.819604e+15
1    11353.22760  2.819604e+15  2.819604e+15
2     8798.59300 -1.826818e+16  1.826818e+16
3    10381.47870  1.926309e+16  1.926309e+16
4     2103.08000 -1.826818e+16  1.826818e+16
..           ...           ...           ...
263  40103.89000 -1.826818e+16  1.826818e+16
264  42983.45850  2.819604e+15  2.819604e+15
265  44202.65360  1.926309e+16  1.926309e+16
266   2136.88225  2.819604e+15  2.819604e+15
267   5227.98875 -1.127614e+16  1.127614e+16

[268 rows x 3 columns]

In [133]:
result['error'].mean()

1.317662113011196e+16