In [2]:
import seaborn as sns
import pandas as pd

## Pandas

In [ ]:
data_ojol = {'Customer':['tom', 'nick', 'krish', 'jack', 'jack', 'tom', 'jack', 'krish', 'nick', 'nick'],
          'Origin':['Tebet', 'Gondangdia', 'Mampang', 'SCBD', 'SCBD', 'Kuningan', 'Pancoran', 'Tebet', 'Mampang', 'Tebet'],
          'Destination':[None, 'Mampang', 'SCBD', 'Kuningan', 'Pancoran', 'Pancoran', 'Mampang', 'SCBD', 'SCBD', 'Kuningan'],
          'Distance': [None, None, 3.0, 4.8, 2.2, 4.7, 3.4, 4.0, 2.2, 2.9],
          'Price': [20000, 23000, 14000, 24500, 7000, 20000, 15000, 18500, 9000, 11000]}
          
data_ojol = pd.DataFrame(data_ojol)

data_bike = pd.read_csv("http://bit.ly/dwp-data-bike")

In [ ]:
df_bike = data_bike
data = data_ojol

### Fill N/A

In [8]:
#untuk liat info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer     10 non-null     object
 1   Origin       10 non-null     object
 2   Destination  9 non-null      object
 3   Distance     9 non-null      float64
 4   Price        10 non-null     int64
dtypes: float64(1), int64(1), object(3)
memory usage: 528.0+ bytes

In [22]:
#isi None dengan fillna(), TEMPORARY
# data_ojol['Distance'].fillna(0)
data['Distance'].fillna(data['Distance'].mean())

0    3.4
1    3.4
2    3.0
3    4.8
4    2.2
5    4.7
6    3.4
7    4.0
8    2.2
9    2.9
Name: Distance, dtype: float64

In [42]:
#FIX
data['Distance'] = data['Distance'].fillna(data['Distance'].mean())

In [43]:
data

  Customer      Origin Destination  Distance  Price
0      tom       Tebet        None       3.4  20000
1     nick  Gondangdia     Mampang       3.4  23000
2    krish     Mampang        SCBD       3.0  14000
3     jack        SCBD    Kuningan       4.8  24500
4     jack        SCBD    Pancoran       2.2   7000
5      tom    Kuningan    Pancoran       4.7  20000
6     jack    Pancoran     Mampang       3.4  15000
7    krish       Tebet        SCBD       4.0  18500
8     nick     Mampang        SCBD       2.2   9000
9     nick       Tebet    Kuningan       2.9  11000

### Data Type

In [49]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer     10 non-null     object
 1   Origin       10 non-null     object
 2   Destination  9 non-null      object
 3   Distance     10 non-null     float64
 4   Price        10 non-null     object
dtypes: float64(1), object(4)
memory usage: 528.0+ bytes

In [46]:
#ubah datatype, TEMPORARY
data['Price'].astype(str)

0    20000
1    23000
2    14000
3    24500
4     7000
5    20000
6    15000
7    18500
8     9000
9    11000
Name: Price, dtype: object

In [48]:
data['Price'] = data['Price'].astype(str)

In [50]:
data['Price']

0    20000
1    23000
2    14000
3    24500
4     7000
5    20000
6    15000
7    18500
8     9000
9    11000
Name: Price, dtype: object

In [28]:
#liat semua variable
%whos

Variable    Type         Data/Info
----------------------------------
data        DataFrame      Customer      Origin De<...>Kuningan       2.9  11000
data_ojol   DataFrame      Customer      Origin De<...>Kuningan       2.9  11000
pd          module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>
sns         module       <module 'seaborn' from 'C<...>s\\seaborn\\__init__.py'>