In [18]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

from sklearn.linear_model import LogisticRegression

from sklearn.preprocessing import StandardScaler, MinMaxScaler

from sklearn import metrics

from sklearn import datasets
import math

In [4]:
students = pd.read_csv('https://bit.ly/dwp-data-grade')
students_full = pd.read_csv('https://bit.ly/dwp-data-grade-full')
data_bike = pd.read_csv('http://bit.ly/dwp-data-bike')
data_sales = pd.read_csv('http://bit.ly/dwp-data-ecommerce')
data_movies = pd.read_csv('http://bit.ly/dwp-data-movies-sample')
data_ratings = pd.read_csv('http://bit.ly/dwp-data-ratings-sample')
data_survey = pd.read_csv('http://bit.ly/dwp-data-survey')
data_university = pd.read_csv('http://bit.ly/dwp-data-university')

In [5]:
df_movies = data_movies
df_ratings = data_ratings
df_bike = data_bike
df_sales = data_sales
df_survey = data_survey
df_students = students
df_students_full = students_full
df_university = data_university

## Bagaimana membuat model menjadi lebih bagus?

1. kalau memungkinkan, kita tambah data (row/ column)
2. feature engineering - membuat feature / parameter baru dari parameter yang sudah ada
3. mencoba lebih dari 1 model machine learning

### Penjelasan Logistic Regression

- Contoh disini kita akan melakukan training model Logistic Regression tanpa melakukan standardisasi

In [6]:
df_university.head()

   GRE  TOEFL   GPA Research  University Class
0  330    115  9.34        Y                 1
1  302    102  8.00        N                 0
2  328    116  9.50        Y                 1
3  334    119  9.70        Y                 1
4  336    119  9.80        Y                 1

In [32]:
# transform the data using Label Encoding
def convert_research(row):
    if(row['Research'] == 'Y'):
        return 1
    return 0
df_university['Research'] = df_university.apply(convert_research,axis=1)

#define X/ feature / parameter dan y / label / target
# x = df_university[['GRE', 'TOEFL', 'GPA', 'Research']]
x = df_university.drop(columns=['University Class'])
y = df_university['University Class']

#Split the training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

#initiate the model
model = LogisticRegression()

#training process
model.fit(x_train, y_train)

# testing process and evaluation
y_pred = model.predict(x_test)
accuracy_score = metrics.accuracy_score(y_test, y_pred)

In [11]:
# cara cetak column cepet
df_university.drop(columns=['University Class'])

     GRE  TOEFL   GPA Research
0    330    115  9.34        Y
1    302    102  8.00        N
2    328    116  9.50        Y
3    334    119  9.70        Y
4    336    119  9.80        Y
..   ...    ...   ...      ...
101  320    110  9.27        Y
102  304    103  7.92        N
103  332    108  9.02        Y
104  337    117  9.87        Y
105  330    120  9.56        Y

[106 rows x 4 columns]

In [31]:
x_train.sample()

    GRE  TOEFL   GPA  Research
36  318    109  9.12         0

### Confusion Matrix

Metric yang digunakan pada use case classification
- Precision
- Recall
- Accuracy

In [33]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.80      0.80      0.80         5
           1       0.94      0.94      0.94        17

    accuracy                           0.91        22
   macro avg       0.87      0.87      0.87        22
weighted avg       0.91      0.91      0.91        22

In [40]:
tn, fp, fn, tp = metrics.confusion_matrix(y_test, y_pred).ravel()
print('TN: {}'.format(tn))
print('FP: {}'.format(fp))
print('FN: {}'.format(fn))
print('TP: {}'.format(tp))

TN: 4
FP: 1
FN: 1
TP: 16

#### Precision

In [36]:
#tp / (tp+fp)

In [41]:
tp / (tp + fp) #16 / (16 + 1)

0.9411764705882353

#### Recall

In [37]:
#tp / (tp+fn)

In [42]:
tp / (tp + fn) #16 / (16 + 1)

0.9411764705882353

#### F1 Score

In [ ]:
#2*((precision*recall)/(precision+recall))

In [43]:
metrics.f1_score(y_test, y_pred)

0.9411764705882353

#### Accuracy

In [ ]:
# (tp+tn) / (tp + tn + fp + fn)

In [ ]:
(tp+tn) / (tp + tn + fp + fn)

### Multiclass Logistic Regression

In [45]:
data_iris = datasets.load_iris()

In [54]:
x = pd.DataFrame(data_iris['data'], columns=data_iris['feature_names'])
y = pd.DataFrame(data_iris['target'], columns=['type'])

In [56]:
x_train, x_test, y_train, y_test = train_test_split(x, y , test_size =0.2, random_state = 1)

In [57]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [58]:
model = LogisticRegression()

In [60]:
model.fit(x_train,y_train)

C:\Users\ifans\miniconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [61]:
y_pred = model.predict(x_test)
accuracy = metrics.accuracy_score(y_test, y_pred)
print('accuracy = {}'.format(accuracy))

accuracy = 0.8333333333333334

In [62]:
model.coef_

array([[-1.04902721,  1.02502481, -1.78547737, -1.64014386],
       [ 0.66348067, -0.41779159, -0.36424012, -0.7697209 ],
       [ 0.38554653, -0.60723322,  2.14971749,  2.40986476]])

In [63]:
model.intercept_

array([-0.4547459 ,  1.76572446, -1.31097856])

In [65]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      0.62      0.76        13
           2       0.55      1.00      0.71         6

    accuracy                           0.83        30
   macro avg       0.85      0.87      0.82        30
weighted avg       0.91      0.83      0.84        30

### Assignment 3 - machine learning

buat model machine learning (linear regression) untuk melakukan prediksi nilai "charge" dari dataset ini

In [66]:
data = pd.read_csv('http://bit.ly/dwp-data-insurance')

In [67]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]